.main-menu {
  height: 56px;
  display: flex;

  @media (max-width: 320px) {
    height: initial;
    flex-direction: column;
  }
}

.main-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  z-index: 1;

  @media (max-width: 320px) {
    display: flex;
    width: 100%;
    min-height: 55px;
    max-height: 55px;
    background-color: #81b3d2;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;

    a {
      color: #fff;
    }

    &.logo {
      border-bottom: 0;
      background-color: #fff;
    }
  }

  &.logo {
    position: relative;

    @media (max-width: 320px) {
      order: 5;
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 96px;
      background-image: url('img/triangle.png');
      background-size: cover;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @media (max-width: 768px) {
        height: 83px;
        background-image: url('img/small-triangle.png');
      }
    }
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    transition: color .2s;

    &.active {
      color: #766357;

      &:hover {
        color: #604e43;
      }

      &:active {
        color: #d6d0cc;
      }
    }

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #b2b2b2;
    }
  }
}